body {
}

.userdashboardheadshot{
    top:0 !important;
    left:0 !important;
    max-height: 200px;
        z-index: 0;
        position: absolute;
        opacity: 0.78;
}


.userprofilefooter{

    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.615, 0.005, 0.23, 1) 1.5s;
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.615, 0.005, 0.23, 1) 1.5s;
    transition: transform 0.5s cubic-bezier(0.615, 0.005, 0.23, 1) 1.5s;
    background: rgba(44,48,49,0.43);
}

.dashinnerinfoboarder::after{
        background-color: transparent;
    background-image: -webkit-linear-gradient(top, transparent, rgba(255, 255, 255, 0.25) 50%, transparent);
    /* background-image: linear-gradient(to bottom,transparent, rgba(255, 255, 255, 0.25) 50%, transparent); */
    content: " ";
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    z-index: 2;
}


.wrap{
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}

.table-big-label {
    display: table-cell;
    height: 100%;
    font-size: 11px;
    opacity: .7;
   line-height: 3.5;
    padding: 0 8px;
    position: relative;
    vertical-align: middle;
    text-align: right;
    width: 30% !important;
    color:#FFFFFF;
}


.table-birthday-wrapper {
    font-size: 8px;
    bottom: -4px;
    padding-left: 0px;
    margin-left: 0px;
    position: absolute;
    z-index: 1;
}

.dashuserinfotable{
    width:100%;
}

.dashinfoboxtop{
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-bottom:1px solid #cdcdcd;
}

.dashinfoboxbottom{
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;

}

.userinfomain{
     background: url('../CourseImgs/goodwp.com_19594.jpg') no-repeat center center;
      background-size: 100%;
      border: 2px outset #2b2b2b;
      margin: 3px 2px;
    border-radius: 19px 19px 19px 19px;
    -moz-border-radius: 19px 19px 19px 19px;
    -webkit-border-radius: 19px 19px 19px 19px;
    
}



.userprofilecard{
    height: 165px;

}





/* Show tooltip content on hover */

[tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}


.usermaincard{
    width: 45%;
    margin: 45px;
}

.gradebar{
        vertical-align: bottom;
}

.cardheader{
    background-color:#3ce5d6;
}

.gradecardfooter{
    height: 60px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.classinfobutton {
    color: #00a5dd;
    font-size: 19px;
    cursor: pointer;
}

.classinfobutton:hover {
    cursor: pointer;
}

.lastupdatedgpa{
    position: absolute;
    bottom: 0;
    left: -30px;
}

.maingpascore{
    position: absolute;
    bottom: -9px;
    font-size: 29px !important;
    right: 10px;
    height: 100%;
    color: #4da74d!important;
}

.dashfooter{
    position: fixed;
    z-index: 2;
    background: #b1b1b1;
}