.login-main-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    top: 43px;
    padding-bottom: 44px;
}

.login-header {
    font-family: 'Cinzel', serif;
    font-family: 'Merriweather', serif;
    font-size: 28px;
    top: 12px;
    position: relative;
    width: 100%;
    left: 0;
    text-align: center;
    color: #FFFFFF;
}

.login-header-wrapper{
        height: 100%;
    text-align: center;
        
}

.login-main-divider{
        background: rgb(1, 87, 155);
    color: white !important;
    font-weight: 700;
    font-size: 18px;
    opacity:.75;
}

.login-header-img{
    height: 100%;
     width:100%;
     position: absolute;
}

.login-header-img > img{
    height: 100%;
    display: block;
    margin: auto;
    width: 101%;
    top: -20px;
    opacity: .95;

}

.new-account-login-container {
    display: block;
    margin: auto;
    height: 200px;
        padding-left: 10px;
    padding-right: 10px;
}

.login-info-img{

}

.main-content-wrapper{
    /*padding-top: 440px;*/
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    height: 100%;
    overflow: auto;
}


.login-inputs{
    border: 2px solid #ffffff;
    width: 250px;
    border-radius: 3px;
    height: 39px;
}

.login-incomplete-buttons{
    margin: 12px;
    font-family: 'Cinzel', serif;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    text-transform: uppercase;
}


.login-input-label{
        color: white;
    font-size: 20px;
}



/*Mobile Features*/
@media screen and (max-width: 767px) {

    .main-content-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
