<link href="../app/Styles/web/collegesearch.css" rel="stylesheet" />
<link href="../app/Styles/mobile/collegesearch.mobile.css" rel="stylesheet" />
<div class="college-search-main-wrapper">
    <div class="college-search-filter-header">
        <div class="item-input-inset input-search-college">
            <label class="item-input-wrapper" style="border-radius: 0px; background: transparent;">
                <input type="text" placeholder="Search">
            </label>
        </div>
        <div class="filter-button">
            <i class="ion-android-funnel" ui-sref="filters"></i>
        </div>
    </div>
    <div class="college-results-list">
        <div class="list">
            <div class="list card animated fadeInUp" ng-repeat="test in vm.testing" >
                <div class="item item-body college-card-results" >
                    <img class="img-responsive" src="https://unsplash.it/350/150/?random">
                    <p>
                        Testing Testing Testing Testing Testing Testing Testing Testing Testing
                    </p>
                </div>
            </div>            
        </div>
    </div>
    <nav class="maindashmenubtncontainer">
        <a class="maindashlowermenubutton" tooltip="Ghin"></a>
        <a class="maindashlowermenubutton" tooltip="Twitter"></a>
        <a class="maindashlowermenubutton" tooltip="Filters" ui-sref="dashboard"></a>
        <a class="maindashlowermenubutton"></a>
    </nav>
</div>
