<div  ng-controller="DashboardCtrl as vm" class="mainviewwrapper">
    <div class="card">
        <div class="item item-text-wrap">
           <div class="col-xs-12">
               <div class="list">
                   <a class="item item-avatar" href="#">
                       <img src="../../Images/headshot.jpg">
                       <h2>{{vm.dashsrv.currentActiveUser.FirstName}} {{vm.dashsrv.currentActiveUser.LastName}}</h2>
                       
                   </a>
               </div>
           </div>
        </div>
    </div>
</div>