<div class="mainviewwrapper">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="input-label">Tuition Range</span>
            <span class="tag tag-default tag-pill float-xs-right">14</span>

            <div class="item range">
                <i class="icon ion-volume-low"></i>
                <input type="range" name="volume">
                <i class="icon ion-volume-high"></i>
            </div>
        </li>
        <li class="list-group-item">
            <span class="input-label">SAT</span>
            <span class="tag tag-default tag-pill float-xs-right">2</span>
        </li>
        <li class="list-group-item">
            <span class="input-label">Majors</span>
            <div class="card col-33" style="margin:0; display: inline-block;">
                <div class="item item-divider"  style="font-size:12px;background: rgba(25, 189, 155, 0.19);">
                   Accounting
                </div>
            </div>
            <div class="card col-33" style="margin:0; display: inline-block;">
                <div class="item item-divider" style="font-size:12px;">
                    Business
                </div>
            </div>

        </li>
        <li class="list-group-item">
            <span class="input-label">States</span>
            <div class="card col-20" style="margin:0; display: inline-block;">
                <div class="item item-divider" style="font-size:12px;">
                    MA
                </div>
            </div>
            <div class="card col-20" style="margin:0; display: inline-block;">
                <div class="item item-divider" style="font-size:12px;">
                    KY
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <span class="input-label">Sports</span>
            <div class="card col-20" style="margin:0; display: inline-block;">
                <div class="item item-divider" style="font-size:12px;">
                    Track
                </div>
            </div>
            <div class="card col-20" style="margin:0; display: inline-block;">
                <div class="item item-divider" style="font-size:12px;">
                    Soccer
                </div>
            </div>
        </li>
    </ul>
</div>