<link href="../app/Styles/login.css" rel="stylesheet" />
<div ng-controller="LoginCtrl as vm" class="mainviewwrapper">
    <div class="loginmainbanner"></div>
    <div class="loginmainimgs">
        <div>
            
            <div ng-class="{'loginmainform' : !vm.dashsrv.sideMenuState}" >
              <div>
                  <div class="animated fadeInLeft logincourselabel col-xs-12">
                      Login
                  </div>
                  <div class="logindashfacebook">
                      
                      <button class="button button-assertive logindashbuttons" ng-click="vm.authenticate('google')">Sign in with Google</button>
                  </div>
                  <div>
                      <button class="button button-positive logindashbuttons " ng-click="vm.authenticate('facebook')">Sign in with Facebook</button>
                  </div>
              </div>
                <div class="col-xs-12">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <i class="icon ion-person placeholder-icon"></i>
                            <input type="text" placeholder="Username">
                        </label>
                    </div>
                    <div class="list list-inset">
                        <label class="item item-input">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input type="password" placeholder="Password">
                        </label>
                    </div>
                    <div>
                        <button class="button button-balanced" ui-sref="dashboard">Login</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-custom" style="width: 100%; height: 97%">
            <div class="row dashloginbackground" >

            </div>
        </div>
    </div>
    <div class="loginmainfooter">
        tesdt
    </div>
</div>

