<div class="mainviewwrapper">
    <div>
        <div id="ghinwidget_div_GHIN_0" style="line-height: 0px; width: 100%; text-align: center;"><div id="ghinwidget_div_widget_0" style="width: 300px; height: 150px; background-position: center center; background-repeat: no-repeat;"><iframe id="ghinwidget_iFrame_0" name="ghinwidget_iFrame_0" allowtransparency="true" hspace="0" vspace="0" marginheight="0" marginwidth="0" border="0" scrolling="auto" frameborder="0" src="http://widgets.ghin.com/ScorePosting.aspx?widget=ScorePosting&width=450&height=575&css=Default&ghinno=1077685&showheader=0" width="300" height="150" onload="document.getElementById('ghinwidget_div_widget_0').style.backgroundImage = '';" style="border: 0px; width: 300px; height: 150px;"></iframe></div></div>
    </div>
    
</div>