
/*Mobile Features*/
@media screen and (max-width: 767px) {


    .drawer-opener-button{
        display: inline-block !important;
    }

    .main-content-wrapper{
        padding-left: 0;
        padding-right: 0;
}

    .desktop-nav-buttons{
        display:none;
    }

    .college-search-card{

    height: 278px;
    /*position: relative;*/
    cursor: pointer;
    width:95% !important;
     /*display:flex;*/

}

}
