body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.navbar-header{
        width: 100%;
    position: absolute !important;
}

.dashuser{
    position: absolute;
    right:0;
}

.dashview{
    height: 100%;
    width: 100%;
    position: absolute;
    padding-top: 50px;
}

.dashnavleft{
    position: absolute;
    left: 0;
}

.maindashnav{
    background: #020304;
    border-bottom: 3px solid #3e576c;
    width:100%;
    display:block;
}

.golfperson {
    height: 35px;
    width: 42px;
}
.bar-dark .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #38f61b;
    font-size: 17px;
}
.mainviewwrapper{
    position: relative;
    height: 100%;
    width: 100%;
    top: 43px;

}

.dashuserinfo{
    font-size: 35px;
    color: #b7b7b7;
}

.dropdown-menu{
        -webkit-transition: margin .4s ease-in-out;
    -moz-transition: margin .4s ease-in-out;
    -o-transition: margin .4s ease-in-out;
    -ms-transition: margin .4s ease-in-out;
    transition: margin .4s ease-in-out;

}

.maindashsidetoggle{
    color:#3e576c;
}

.mainnavtext{
        font: 14px "LatoBlack",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
            text-decoration: none;
    color: #646464;
    outline: none;
        padding: 1px 10px 0;
    color: #000;


    vertical-align: middle;
    transition: all 0.15s cubic-bezier(0.5, 0.2, 0, 1);
}

.mainnavleftbuttons{
        width: 100%;
    position: absolute;
    top: -3px
}

.mainnavtext{
        display: inline-block !important;
            border-right:1px solid red;
    color: #4b5154;
    font-family: "proxima", "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 
    line-height: 2.5;
    -webkit-font-smoothing: antialiased;
        border: 3px inset #9a9;
    background: #efe;
    
}

.ion-nav-buttons>ul>li {
    height: 100%;
    box-sizing: border-box;
    float: left;
    font: 14px "LatoBlack",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    display: table;
    height: 100%;
}
